--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.6.0 
torchvision==0.21.0 
torchaudio==2.6.0 

pyqt5==5.15.11

opencv-python-headless==4.11.0.86

stable-baselines3==2.5.0
sb3-contrib==2.5.0

transformers==4.49.0

pyserial==3.5

scipy==1.13.1
